@{
    ViewBag.Title = "Home Page";
}
@using System.Security.Claims
<script type="text/javascript">
    $(document).ready(function () {

        var loginUserEmail = '@Session["email"]';


    $.ajax(
        {
            url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/user/' + loginUserEmail,
            headers: {
                'Content-Type': 'application/json'
            },
            crossDomain: true,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                sessionStorage.setItem('loginEmail', data.EMAIL);
                sessionStorage.setItem('loginUserId', data.USER_ID);
                sessionStorage.setItem('loginUserName', data.FULL_NAME);
                if (data.ROLE_C == 2) {
                    sessionStorage.setItem('loginRole', 'Doctor');
                }
                else {
                    sessionStorage.setItem('loginRole', 'Patient');
                }

                $.ajax(
                    {
                        url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/recommendation/' + data.USER_ID,
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        crossDomain: true,
                        type: 'GET',
                        dataType: 'json',
                        success: function (alerts) {
                            $('#tblalerts tbody').empty();
                            $.each(alerts, function (i, item) {

                                var messagetopic = item.MSG_TP_T;
                                var message = item.MESSAGE_T;

                                var icon;
                                if (messagetopic == 'VITAL_SIGN') {
                                    icon = '<i class = "fa fa-heartbeat"></i>';
                                }
                                else if (messagetopic == 'MEDICAL_RECORD') {
                                    icon = '<i class = "fa fa-medkit"></i>';
                                }
                                else {
                                    icon = '<i class="glyphicon glyphicon-bell"></i>';
                                }
                                

                                var rows = "<tr>"
                                    + "<td>" + icon + "</td>"
                                    + "<td>" + message + "</td>"
                                    + "</tr>";

                                $('#tblalerts tbody').append(rows);


                            });
                        }
                    });
            }
        });

    });

</script>
<div class="jumbotron">
    <h1>MyHealth</h1>
    <p class="lead">
        myhealth is a web application that enables the blah blah blah
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Appointments</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Health Records</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Appointments</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <table class="table" id="tblalerts">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>