@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyHealth</h1>
    <p class="lead">
        myhealth is a web application that enables the blah blah blah
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Appointments</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Health Records</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Appointments</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>