@{
    ViewBag.Title = "Medications";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-6">
        <h2>Prescribe for my Patient</h2>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><i class="glyphicon glyphicon-plus-sign"></i> Prescribe &raquo;</a></p>
    </div>
   
</div>

<div class="row">
    <h4>My Medications</h4>

</div>
<div class="row">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prescribed Date & Time</th>
                <th scope="col">Medicine</th>
                <th scope="col">Dosage</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>2021 Aug 26 9:43 AM</td>
                <td>Medicine A</td>
                <td>1 tablet, every 8 hours</td>
               
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>2021 Aug 25 9:48 PM</td>
                <td>Medicine B</td>
                <td>After breakfast everyday, for 3 days</td>
               
            </tr>
            
        </tbody>
    </table>
</div>