@model Models.FeedbackModel



<style type="text/css">
   
    .rating{
        float:left;
    }
    .myratings {
        font-size: 85px;
        color: green;
    }

    .rating > [id^="star"] {
        display: none;
    }

    .rating > label:before {
        margin: 5px;
        font-size: 2.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
    }

    .rating > [id^="star"]:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: #FFD700;
    }

        .rating > [id^="star"]:checked + label:hover,
        .rating > [id^="star"]:checked ~ label:hover,
        .rating > label:hover ~ [id^="star"]:checked ~ label,
        .rating > [id^="star"]:checked ~ label:hover ~ label {
            color: #FFED85;
        }



 




</style>

<script type="text/javascript">

    $(document).ready(function () {

        $("input[type='radio']").click(function () {
            var sim = $("input[type='radio']:checked").val();
            //alert(sim);
            if (sim < 3) { $('.myratings').css('color', 'red'); $(".myratings").text(sim); } else { $('.myratings').css('color', 'green'); $(".myratings").text(sim); }
        });
    });

    function Rate() {
        $('#btnRate').html('<i class="glyphicon glyphicon-refresh"></i> Sending Feedback.......');
        alert('test the change');
        $.ajax(
            {
                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/feedback/1001495',
                headers: {
                    "Content-Type": "application/json"
                },
                
                type: 'POST',
                dataType: 'json',
                crossDomain: true,
                format:"json",
                data: {
                    "MESSAGE_T": "Hello World",
                    "RATING": "4",
                },
                success: function (data) {
                    alert('called');
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
                
            });
        //const response = await axios({
        //    method: "post",
        //    url: `https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/feedback/1000685`,
        //    headers: {
        //        "Content-Type": "application/json",
        //    },
        //    data: {
        //        MESSAGE_T: "Usefull Application and I like the UI. Hello World",
        //        RATING: "5",
        //    },
        //}).then((response) => {
        //    console.log(response);
        //});
    
        $('#btnRate').html('<i class="glyphicon glyphicon-pencil"></i> Send Feedback');
    }
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Help us improve!</h5>
                
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                <div class="form-group row" style="margin-left:5px;">
                    
                    <span class="myratings">-</span>
                    <h5>Rate us</h5>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>

                </div>
                    

                    
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control "} })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                       

                    </div>
                }


                <button type="button" class="btn btn-success" onclick="Rate()" id="btnRate"><i class="glyphicon glyphicon-pencil"></i> Send Feedback</button>
            </div>
            
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
